в него добавляются системные файлы 
.idea игнорирует папку
*.txt игнорирует все файлы с расширением
пустую папку шит и так всегда игнорирует
.vscode
.Lesson_5
Lesson_5/homework_5.html
Lesson_5/assets/css/style_home.css
