*{
  margin: 0;
  padding: 0;
}
.parent {
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr; /*столбцы-ширина*/
  grid-template-columns: repeat(4, 100px) repeat(2, 150px);
  /*grid-template-rows: 300px 300px 300px; /*высота*/
  grid-template-rows: repeat(1, 150px) repeat(1, 100px);
}
.child {
  background-color:cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid black;
}
.child-two {
 grid-column-start: 3;
 grid-column-end: 6; /* не включительно*/
 grid-row-start: 1;
 grid-row-end: 3;
}
.site {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas: "header header blog"
                        "article article blog"
                        "footer footer blog";
}
.site>div {
  background-color: darkviolet;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid black;
}
.header {
  grid-area: header; /*задали имена областям*/

}
.blog {
  grid-area: blog;
}
.article {
  grid-area: article;
}
.footer {
  grid-area: footer;
}