* {
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  background-color: rgb(177, 36, 36);
  color: aliceblue;
}
.rotate {
  width: 300px;
  height: 300px;
  background-color: rgb(180, 15, 15);
  color: aliceblue;
  /* transform: rotate(0deg) scale(2) translate(100px, 50px) skew(10deg, 0);
  transform-origin: right bottom; */
  transform: scale(2);
  transform-origin: left top;
}
.perspectiv{
  width: 300px;
  height: 300px;
  background-color: rgb(255, 210, 8);
  transform: perspective(1000px) rotateX(45deg) rotateY(45deg) rotateZ(180deg);
}
.transition{
  width: 300px;
  height: 300px;
  background-color: rgb(255, 8, 255);
  /* transition: background-color 1s ease-in-out 0.5s; */
  transition: 1s;
}
.transition:hover{
  display: none;
  width: 400px;
  height: 400px;
  background-color: rgb(8, 255, 8);
}
.keyframe{
  width: 400px;
  height: 400px;
  background-color: rgb(33, 8, 255);
  animation: block 5s ease-in-out infinite alternate;
}
@keyframes block {
  25%{
  width:500px;
  background-color: yellow;
  border-radius: 25px 0 0 0 ;
}
  50%{
  width:300px;
  background-color: red;
  border-radius: 0 25px 0 0 ;
}
  75%{
  width:400px;
  background-color: yellow;
  border-radius: 0 0 25px 0 ;
}
 100%{
  width:600px;
  background-color: yellow;
  border-radius:  0 0 0 25px;
}
}
