*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gradient {
  width: 100%;
  height: 50vh;
}
.linear {
  /* background-image: linear-gradient(to top,#000, #38ff06, rgb(255, 0, 0)); */
  /* background-image: linear-gradient(90deg,#000, #38ff06, rgb(255, 0, 0)); */
  background-image: linear-gradient(to top,#000, #38ff06 70%, rgb(255, 0, 0));
}
.radio {
  width: 200px;
  height: 200px;
  border-radius: 50%
  /* background-image: radial-gradient(at center center, #000, rgb(212, 0, 255)); */
  /* background-image: radial-gradient(at 50% 50%, #000, rgb(212, 0, 255)); */
  background-image: radial-gradient(circle, #000, rgb(212, 0, 255));
}
.shadow {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #d8d8d8;
  box-shadow: 5px 5px 10px 5px #000;
  box-shadow: inset 5px 5px 10px 5px #000;
}
.shadow:hover {
  box-shadow: inset 5px 5px 50px 5px #000;
  transition: 0.1s;
}
.shadow-text {
  margin: 20px;
  text-shadow: 10px 10px 5px #06fff3;
}

.filter {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter img {
  max-width: 45%;
  margin-bottom: 40px;
  transition: 0.5s;
}
.brightness:hover {
  filter: brightness(0.5);
}
.contrast:hover {
  filter: contrast(1.5);
}
.opacity:hover{
  filter: opacity(0.5);
}
.saturate:hover {
  filter: saturate(2.5);
}
.invert:hover {
  filter: invert(2);
  cursor: url;
}
.sepia:hover {
  filter: sepia(2);
}
.blur:hover {
  filter: blur(45px);
}

.parent {
  backdrop-filter: 1;
}